<footer class="site-footer" id="site-footer">
  <div class="main-content content-wrapper">
    <h4>Links</h4>
    <span>
      <a class="social" href="https://www.instagram.com/soaporsalad/">Instagram</a><br>
      <a class="social" href="https://www.webtoons.com/p/community/en/u/soaporsalad">Webtoon</a><br>
      <a class="social" href="https://www.etsy.com/shop/soaporshop">Etsy Store</a><br>
      email (business inquiries only): <a class="social" href="mailto:soaporsalad@gmail.com">soaporsalad@gmail.com</a><br>
    </span>
    <span class="float-right">
      <br>
      copyright {{ "now" | date: "%Y" }} Sabrina Yang (soaporsalad).
    </span>
  </div>
</footer>
