$large-breakpoint: 900px !default;
$medium-breakpoint: 800px !default;

$wrapper-width: 60rem;

// Light theme

$body-text-color: #303030 !default;
$heading-color: $body-text-color !default;
$body-background-color: #ffffff !default;
$accent-color: #f16294 !default;
$accent-color-secondary: #f4c433 !default;
$accent-color-tertiary: #4abfe0 !default;
$border-color: darken($body-background-color, 8%) !default;
$control-color: darken($body-background-color, 28%) !default;

// Code

$mono-1: #e2e8f5 !default;
$mono-2: #c4c9d6 !default;
$mono-3: #a6abb8 !default;
$mono-4: #898e9a !default;
$mono-5: #6d727e !default;
$mono-6: #525762 !default;
$mono-7: #393e48 !default;
$mono-8: #21262f !default;
$hue-3: #fa5f8b !default;
$hue-5: #f06c6f !default;
$hue-7: #e17954 !default;
$hue-6: #d08447 !default;
$hue-4: #d3ab58 !default;
$hue-8: #00ab9a !default;
$hue-2: #00a9b9 !default;
$hue-1: #00a3d2 !default;

$code-bg-color: $mono-8 !default;
$code-text-color: $mono-3 !default;

$code-bg-color-light: $mono-1 !default;
